{% extends 'base.html' %}
{% block head_title %}Add a new response to {{survey.name}} for {{entity.name}}{% endblock %}
{% block fluid_content_outer %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>New response to {{survey.name}} <small>for <a href="{{entity.get_absolute_url}}">{{entity.name}}</a></small></h1>
      </div>
      <div class="row">
        <div class="span14">
          {% if survey.description %}
            {{survey.description|safe}}
          {% endif %}
          <h2>Please select the relevant data series</h2>
          <form method="POST">
            {% csrf_token %}
            <fieldset>
            {% for dataseriesgroup in survey.project.dataseriesgroup_set.all.select_related %}
              {% with dataseriesgroup.get_dataseries as dataseries %}
              {% if dataseries.count == 1 %}
                <input type="hidden" value="{{dataseries.0.pk}}" />
              {% else %}
                <div class="clearfix">
                  <label>{{dataseriesgroup.name}}</label>
                  <div class="input">
                      <select name="data_series">
                        {% for item in dataseries %}
                          <option value="{{item.pk}}">{{item.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
               {% endif %}
               {% endwith %}
            {% endfor %}
            </fieldset>
            <div class="actions">
                <button type="submit" class="btn primary">Submit</button> &nbsp;
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
