<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block head_title_outer %}{% block head_title %}{% endblock %} | {{site.name}}{% endblock %}</title>
        {% block head_style %}
          <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/screen.css"/>
        {% endblock %}
        <style>
          {% block style_block %}{% endblock %}
        </style>
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% if user.profile.newbie %}newbie{% endif %}{% endblock %}">
      <!--[if IE]>
      <style type="text/css">
        {% block IE_style %}
        {% endblock %}
      </style>
      <![endif]-->
      <div id="content_wrapper">
        {% block header_outer %}
            <div id="header">
              <div id="header_inner">
                {% block header %}
                  <a id="header_link_home" href="/" title="Home">Home</a>
                {% endblock %}
                <div class="clear"></div>
              </div>
            </div>
        {% endblock %}

        {% block before_content %}
        {% endblock %}

        {% block content_outer %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
      </div>

      <div id="footer_wrapper">
        {% block footer_outer %}
          <div id="footer">
            <div id="footer_inner">
              {% block footer %}
              {% endblock %}
            </div>
          </div>
        {% endblock %}
      </div>
      {% block page_bottom %}
        {% block script_bottom %}
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-modal.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-dropdown.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-tabs.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-twipsy.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-popover.js"></script>
          <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-alerts.js"></script>
          <script type="text/javascript">
          </script>
        {% endblock %}
      {% endblock %}
    </body>
</html>
