{% extends 'base.html' %}
{% block head_title %}Home{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="row">
<div class="span14">
<h2>2012 IHP+Results Monitoring Process <small>Online Survey Tool</small></h2>

<p>Welcome to the 3rd annual monitoring of progress against the International Health Partnership (IHP+) Global Compact commitments, by IHP+Results. IHP+Results is an independent consortium of research and advocacy organisations mandated to provide an annual assessment of the results of IHP+.</p>

<p>This online data collection platform has been designed to help you manage the process of submitting data to IHP+Results. If you perfer, it is also possible for you to submit this data through an Excel tool. However, we recommend using this online version as it is more user-friendly, including with the following advantages:<p>

<ol>
    <li>Your responses will be automatically saved within our database so you do not have to worry about storing and finding multiple Excel files. You will also be able to switch between your response without having to open different files.</li>
    <li>Participants from the 2010/11 monitoring round will be able to see the baseline data that they entered previously (this will not be editable though).</li>
    <li>You will be prompted if you enter an unexpected piece of data / information (e.g. entering a number into a text field by mistake).</li>
    <li>You will be able to directly link through to key terms and definitions rather than have to look them up.</li>
</ol>

<p>More detailed documentation and guidance on the 2012 process is available at <a href="www.ihpresults.net/2012monitoring" target="_new">http://www.ihpresults.net/2012monitoring</a>. Here you will find:</p>
<ul>
    <li>Overview Guidance</li>
    <li>Detailed Key Terms and Definitions</li>
    <li>Excel versions so the Survey Tools</li>
</ol>
</div>
</div>
{% endblock %}
