{% extends 'base.html' %}
{% load i18n %}
{% block head_title_outer %}IHP+Results Online Survey 2012{% endblock %}
{% block content_outer %}
<div class="row">
<div class="span16">
{% blocktrans %}<h1>2012 IHP+Results Monitoring Process <small>Online Survey Tool</small></h1>
<p>Welcome to the 3rd annual monitoring of the International Health Partnership (IHP+) Global Compact commitments, by IHP+Results. You can use this online survey tool to submit data to IHP+Results on your organisations performance. Alternatively you can use an Excel tool.  But there are certain advantages to completing the survey online:

<ol>
    <li>Your organisation’s data will be automatically saved within our database so you do not have to store and find multiple Excel files (ie we manage your version control!).</li>
    <li>If you are managing or overseeing returns from many countries, you can access them all here, and switch between them without having to open different files.</li>
    <li>Participants from the 2nd round of IHP+ monitoring (in 2010) can see their previously submitted data as reminder of how you tackled the exercise previously.</li>
    <li>You will be prompted if you enter an unexpected piece of data (e.g. entering text into a numeric field).  This should promote consistency across all survey responses.</li>
    <li>You can access key terms and definitions in the same space rather than having to look them up in a separate document.</li>
</ol>


<p>To use the survey tool you need to be registered.  Registration is managed by the IHP+Results team in conjunction with IHP+ focal points in all participating organisations.  Please contact your IHP+ focal point if you need to be registered to use this system.  You may already have been registered, in which you case you will have received an email from ‘IHP+Results Survey 2012’; please click on the link in that email and follow the on screen instructions to access the online survey.</p>

{% endblocktrans %}

{% if user.entity_set.all.count > 1 %}
  <h2>Manage your responses for:</h2>
  <ul>
    {% for entity in user.entity_set.all %}
      <li><a class="" href="{{ entity.get_absolute_url }}">{{entity.name}}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <a class="btn primary large" href="{{ user.entity_set.all.0.get_absolute_url|default:"/scorecard/entity/" }}">{% blocktrans %}Get started{% endblocktrans %}</a>
{% endif %}

<div class="well" style="margin-top:20px">
  <div class="content">
    {% blocktrans %}
    <p>More detailed documentation and guidance on the 2012 process is available at <a href="http://www.ihpresults.net/2012monitoring" target="_new">http://www.ihpresults.net/2012monitoring</a>.</p> 
    <p>Here you will find:</p>
    <ul>
        <li>Overview Guidance</li>
        <li>Detailed Key Terms and Definitions</li>
        <li>Excel versions of the Survey Tools</li>
    </ol>
    {% endblocktrans %}
  </div>
</div>


</div>
</div>
{% endblock %}
