{% extends 'base.html' %}
{% block head_title %}Log in{% endblock %}
{% block content %}
<style>
  form input {width:270px}
</style>
<div class="container">
  <form method="POST" class="form-stacked">
    <div class="well span5 offset2">
      <h2>Welcome</h2>
      <p>Sign in with your email and password</p>
      {% csrf_token %}
      {{form.as_p}}
      <br />
      <button class="btn primary large pull-right"  type="submit">Log in</button>
      <small style="clear:both;display:block;padding-top:20px">Don't know your password? <a href="{% url django.contrib.auth.views.password_reset %}">click to retrieve it</a>.</small>
    </div>
  </form>
</div>
{% endblock %}
