{% extends 'base.html' %}
{% block head_title %}Entity selection{% endblock %}
{% block fluid_content_outer %}
  {% regroup object_list by entity_type.plural as entity_list %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Choose an entity <small>These would be linked to a user's account</small></h1>
      </div>
      <div class="row">
        <div class="span14">
          {% for entity_type in entity_list %}
            <h2>{{entity_type.grouper|capfirst}}</h2>
            <ul>
            {% for entity in entity_type.list %}
              <li><a href="{{entity.get_absolute_url}}">{% if entity.abbreviation %}{{entity.abbreviation}} - {% endif %}{{entity.name}}</a></li>
            {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
