{% extends 'base.html' %}
{% block head_title %}Entity selection{% endblock %}
{% block script_bottom %}
{{block.super}}
<script type="text/javascript">
  if(document.location.hash) {
    $('li[name='+document.location.hash.replace('#','')+']').addClass("alert-message");
  }
</script>
{% endblock %}
{% block fluid_content_outer %}
<style>
  li.responseset {margin-bottom:10px}
</style>
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Survey Responses <small>for {{object.name}}</small></h1>
      </div>
      <div class="row">
      </div>
      <div class="row">
          <div class="span7">
            <h2>Respond <small>Click a button to add a new response</small></h2>
            {% with object.entity_type.survey_set.active as survey_set %}
              {% if survey_set.count == 1 %}
                <a class="btn primary" href="{% url survey_response object.pk, survey_set.0.pk %}">Add response</a>
              {% else %}
                <ul>
                  {% for survey in survey_set %}
                    <li><a class="btn" style="margin-bottom:10px" href="{% url survey_response object.pk, survey.pk %}">{{survey.name}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            {% comment %}
              <h2>View Reports</h2>
              <ul>
              {% for link, name in object.get_report_links %}
                <li><a href="{{link}}">{{name}}</a></li>
              {% endfor %}
              </ul>
            {% endcomment %}
          </div>
          {% with object.responseset_set.all.select_related as responsesets %}
            {% if responsesets %}
              <div class="span7">
                <h2>Edit responses <small>ordered by last update</small></h2>
                <ul>
                {% for responseset in responsesets %}
                  <li class="responseset" name="responseset_{{responseset.pk}}"><a href="{{responseset.get_absolute_url}}">{% for series in responseset.get_data_series %}{{series.name}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}</a><br/> <strong>last update:</strong> {{responseset.last_update}}<br /> <strong>survey:</strong> {{responseset.survey.name}}</li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
