{% extends 'base.html' %}
{% block head_title %}Entity selection{% endblock %}
{% block fluid_content_outer %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Choose an entity <small>These would be linked to a user's account</small></h1>
      </div>
      <div class="row">
        <div class="span14">
          <ul>
          {% for entity in object_list %}
            <li><a href="{{entity.get_absolute_url}}">{{entity}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
