{% extends 'base.html' %}
{% block head_title %}Scorecard home{% endblock %}
{% block fluid_content_outer %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Manage scorecards, projects and responses</h1>
      </div>
      <div class="row">
        <div class="span10">
          <a href="project/">Create surveys and scorecards</a><br />
          <a href="entity/">Respond to surveys</a><br />
        </div>
        <div class="span4 sidebar">
          Sidebar of awkwardness
        </div>
      </div>
    </div>
  </div>
{% endblock %}
