{% extends 'base.html' %}
{% block head_title %}Survey selection for {{object.name}}{% endblock %}
{% block fluid_content_outer %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>{{object.name}} <small>manage surveys</small></h1>
      </div>
      <div class="row">
        <div class="span7">
          <h3>Data Series <a class="btn small" href="/admin/scorecard_processor/dataseriesgroup/add/">+</a></h3>
            {% for series in object.dataseriesgroup_set.select_related %}
            <dl>
              <dt class="label {% if series.name == "Country" %}notice{% endif %}">{{series.name}} <a class="" href="/admin/scorecard_processor/dataseriesgroup/{{series.pk}}/">edit</a></dt>
              <dd>
                {% for item in series.dataseries_set.all %}
                  {{item.name}}{% if forloop.revcounter0 %}, {% endif %}
                {% endfor %}
              </dd>
            </dl>
            {% endfor %}
        </div>
        <div class="span7">
          <h3>Surveys <a class="btn small" href="/admin/scorecard_processor/survey/add/">+</a></h3>
            
            <ul>
            {% for survey in object.survey_set.all %}
              <li><a href="{{survey.get_absolute_url}}">{{survey.name}}</a></li>
            {% endfor %}
            </ul>
          <h3>Scorecard <a class="btn small" href="/admin/scorecard_processor/scorecard/add/">+</a></h3>
            <ul>
            {% for scorecard in object.scorecard_set.all %}
              <li><a href="{{scorecard.get_absolute_url}}">{{scorecard.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span14">
          <h3>Entities <a class="btn small" href="/admin/scorecard_processor/entity/add/">+</a></h3>
          <ul>
          {% for entity in object.entity_set.all %}
            <li>{{entity.name}} - <a href="{{entity.get_absolute_url}}">survey responses</a> | <a href="/admin/scorecard_processor/entity/{{entity.pk}}/">edit entity</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
