{% extends 'base.html' %}
{% block head_title %}Report results - {{object.name}}{% endblock %}
{% block fluid_content_outer %}
  <div class="fluid-container">
    <div class="content">
      <div class="page-header">
        <h1><a href="{{object.get_absolute_url}}">{{object.name}}</a> results <small>from <a href="{{object.scorecard.project.get_absolute_url}}">{{object.scorecard.project.name}}</a></small></h1>
      </div>
          <h2>Report output</h2>
          <table style="width:auto" class="bordered-table zebra-striped condensed-table">
          {% for key, result in report.items %}
            {% if forloop.counter0 == 0 %}
              <tr>
                <th>{% if key.data_type %}{{key.data_type}}{% else %}{% for k in key %}{{k.data_type}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}{% endif %}</th>
                {% for k in result.keys %}
                  <th title="{{k.description}}">{{k.identifier}}</th>
                {% endfor %}
              </tr>
            {% endif %}
            <tr>
            <th>{% if key.name %}{{key.name}}{% else %}{% for k in key %}{{k.name}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}{% endif %}</th>
            {% for v in result.values %}
                  <td>{% if v %}{{v|linebreaksbr}}{% endif %}</td>
            {% endfor %}
            </tr>
          {% endfor %}
          </table>
    </div>
  </div>
{% endblock %}
