{% extends 'base.html' %}
{% block head_title %}Report results - {{object.name}}{% endblock %}
{% block script_bottom %}
{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">

  

  $(function() {
    /* Initialize dynamic elements */
    $("table").tablesorter({ sortList: [[0,0]] });

    $('dl.concat').each(function (i,e) {      
      var data = $($(e).parent()).html();
      var a = $('<a rel="popover" class="label" title="Responses">...</a>');
      a.attr('data-content', data);
      $($(e).parent()).append(a);
      $(e).remove();
    })

    $('[rel=popover]').popover({html:true,live:true});

    /* Normalize the width of all table elements */
    var td_width = 0;
    var th_width = 0;
    $('td').each(function(i,e) {
      if ($(e).width()>td_width) {
        td_width = $(e).width()
      }
    })
    $('tbody th').each(function(i,e) {
      if ($(e).width()>th_width) {
        th_width = $(e).width()
      }
    })
    $("<style>td {width:"+td_width+"px} tbody th {width:"+th_width+"px}</style>").appendTo($('body'))

    /* Colourize the table headings */
    var cols = $('thead th[colspan]').attr('colspan');
    var title = ["blue","orange","green","purple","red","yellow"]
    var sub = title.slice(0,cols);
    title = title.slice(2,4);
    var cycle = 0;
    $('th.header').each(function(i,e){
      $(e).addClass(sub[cycle]);
      cycle++; 
      if (cycle>=cols){
        cycle = 0;
      }
    });
    cycle=0;
    $('thead th[colspan]').each(function(i,e){
      $(e).addClass(title[cycle]);
      cycle++; 
      if (cycle>=2){
        cycle = 0;
      }
    })
  });

</script>
{% endblock %}
{% block fluid_content_outer %}
  <style>
    caption {font-size:large;text-align:left;margin:10px 0}
    table {margin-bottom:40px;}
    table td {text-align:center}
    thead th {text-align:center}
    td a.label {cursor:help}
    .popover .inner {width:500px;}
    td dl.concat {width:120px;}
  </style>
  <div class="fluid-container">
    <div class="content">
      <div class="page-header">
        <h1><a href="{{object.get_absolute_url}}">{{object.name}}</a> results <small>from <a href="{{object.scorecard.project.get_absolute_url}}">{{object.scorecard.project.name}}</a></small></h1>
      </div>
          <h2>Report output</h2>
          {% for key, result in report.items %}
            {% with result.get_values as inner_result %}
              {% if inner_result %}
                <table style="width:auto" class="bordered-table zebra-striped condensed-table">
                <caption>{{key.name}}</caption>
                {% for item in inner_result %}
                  {% if forloop.counter0 == 0 %}
                    <thead>
                      <tr class="titles">
                        <th rowspan=2 style="vertical-align:bottom">{% if item.0.data_type %}{{item.0.data_type}}{% else %}{% for k in item.0 %}{{k.data_type}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}{% endif %}</th>
                        {% for k, v in item.1 %}
                            <th title="{{k.description}}" colspan="{{v|length}}" style="text-align:center">{{k.name}}</th>
                        {% endfor %}
                      </tr>
                      <tr class="sub_titles">
                        {% if item.1.0.1.0.0 != None %}
                            {% for k, v in item.1 %}
                              {% for ds, value in v %}
                                <th class="header">{{ds.name}}</th>
                              {% endfor %}
                            {% endfor %}
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                  {% endif %}
                    <tr>
                    <th title="{{k.description}}">{{item.0.name}}</th>
                    {% for i, items in item.1 %}
                          {% for series, v in items %}
                            <td>{% if v %}{{v.as_html}}{% endif %}</td>
                          {% endfor %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                  </tbody>
                </table>

              {% else %}
                {% if forloop.counter0 == 0 %}
                  <table style="width:auto" class="bordered-table zebra-striped condensed-table">
                    <thead>
                      <tr>
                        <th rowspan=2 valign=bottom>{% if key.data_type %}{{key.data_type}}{% else %}{% for k in key %}{{k.data_type}}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}{% endif %}</th>
                        {% for k, v in result %}
                            <th title="{{k.description}}" colspan="{{v|length}}" style="text-align:center">{{k.name}}</th>
                        {% endfor %}
                      </tr>
                      <tr>
                        {% if result.0.1.0.0 != None %}
                            {% for k, v in result %}
                              {% for ds, value in v %}
                                <th class="header">{{ds.name}}</th>
                              {% endfor %}
                            {% endfor %}
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                {% endif %}
                <tr>
                  <th title="{{k.description}}" >{{key.name}}</th>
                  {% for i, items in result %}
                        {% for series, v in items %}
                          <td>{% if v %}{{v.as_html}}{% endif %}</td>
                        {% endfor %}
                  {% endfor %}
                </tr>
                {% if forloop.last %}
                  </tbody>
                  </table>
                {% endif %}
              {% endif %}
            {% endwith %}
          {% endfor %}
          </table>
    </div>
  </div>
{% endblock %}
