{% extends 'base.html' %}
{% block head_title %}Edit Survey: {{object.name}}{% endblock %}
{% block script_bottom %}
{{block.super}}
{% endblock %}
{% block fluid_content_outer %}
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>Edit: {{object.name}} <small>from <a href="{{object.project.get_absolute_url}}">{{object.project.name}}</a></small></h1>
      </div>
      <div class="row">
        <div class="span7">
          <h2>Questions <a class="btn small" title="Add a question" href="/admin/scorecard_processor/survey/{{object.pk}}/">edit</a></h2>
          {% for question in object.question_set.all %}
            <div class="question">
              <h4>{{question.identifier}}. {{question.question}} <small></small></h4>
              <p>{{question.help_text}}</p>
              <p><small>Rendered as: {{question.widget}}, validator: {{question.validator}}</small></p>
            </div>
          {% endfor %}
        </div>
        <div class="span7">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
